.Container {
	display: grid;
	gap: 16px;
}

.ImageContainer {
	position: relative;
}

@keyframes float {
	0%,
	100% {
		transform: translateY(-8%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

.floatingImage {
	animation: float 3s infinite;
	border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
	border: 4px solid #fef9d7;
	box-shadow:
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
}

.floatingBadge {
	animation: float 2s infinite;
	position: absolute;
	background-color: white;
	border-radius: 50%;
	padding: 4px;
	display: grid;
	top: 0;
	right: 0;
	box-shadow:
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
}

.Label {
	color: rgb(139, 195, 74);
	background-color: white;
	position: absolute;
	bottom: 16px;
	left: 0;
	font-weight: bold;
	line-height: 1;
	font-size: 10px;
	padding: 8px 4px;
	border-radius: 4px;
	rotate: -10deg;
	box-shadow:
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0) 0px 0px 0px 0px,
		rgba(0, 0, 0, 0.1) 0px 20px 25px -5px;
}

.LeftColumnLabel {
	color: white;
	text-align: center;
}

@media (max-width: 780px) {
	.LeftColumnLabel {
		color: black;
	}
}
