.root {
  background-color: rgb(252, 248, 236, 1);
  padding: 32px clamp(24px, 4vw, 48px) 96px;
  display: grid;
  gap: 24px;
  position: relative;
}

.ActivityList {
  display: grid;
  gap: 16px 24px;
  grid-template-columns: auto 1fr;
  @media (max-width: 48rem) {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .ActivityItem {
    display: contents;
    .ActivityItem__date {
      display: block;
      font-size: 16px;
      @media (max-width: 48rem) {
        margin-top: 24px;
      }
    }
    .ActivityItem__content {
      display: grid;
      gap: 8px;
      color: rgb(0 0 0 / 0.8);
      .ActivityItem__title {
        font-size: 18px;
        font-weight: bolder;
        line-height: 1.6;
        transition: 0.1s ease-in text-decoration-color;
        text-decoration: wavy underline hsl(38, 92%, 50%, 0.6);
        text-underline-offset: 2px;
        &:hover {
          text-decoration-color: hsl(38, 92%, 50%);
        }
      }
      .ActivityItem__description {
        font-size: 14px;
      }
    }
  }
}

.Title {
  font-size: 32px;
  line-height: 1.8;
}
