.root {
  padding: 48px clamp(24px, 4vw, 48px) 96px;
  display: grid;
  gap: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}
.TwitterLink {
  text-decoration: underline wavy #f59e0b;
}
.Title {
  font-size: 32px;
  line-height: 1.8;
}
