.root {
  background-color: rgb(251, 235, 181);
  padding: 32px clamp(24px, 4vw, 48px) 96px;
  display: grid;
  gap: 24px;
  position: relative;
}

.Title {
  font-size: 32px;
  line-height: 1.8;
}

.HobbyList {
  display: grid;
  gap: 8px;
  max-width: 720px;
}

.HobbyItem {
  display: block;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  box-shadow: var(--shadow-level-2);
  color: rgb(255 255 255 / 0.92);
  transition: 0.1s ease-in opacity;
  &:hover {
    opacity: 0.8;
  }
}

.HobbyItem__title {
  font-size: 18px;
}
