.HeroSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	padding-top: 16px;
}

.SocialLinks {
	display: flex;
	gap: 32px;
	align-items: center;
}

@keyframes sway {
	0%,
	100% {
		transform: rotate(-3deg);
	}

	50% {
		transform: rotate(3deg);
	}
}

.swayImage {
	transform-origin: bottom center;
	animation: sway 3s ease-in-out infinite;
}

.socialLink {
	transition: transform 0.2s ease;
}

.socialLink:hover {
	transform: scale(1.2);
}

.MobileFantiaLink {
	display: none;
}

@media (max-width: 780px) {
	.MobileFantiaLink {
		display: block;
		line-height: 0;
		transition: transform 0.2s ease;
	}

	.MobileFantiaLink:hover {
		transform: scale(1.05);
	}
}
