@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

@keyframes swing {
  20% {
    rotate: 0 0 1 15deg;
  }

  40% {
    rotate: 0 0 1 -10deg;
  }

  60% {
    rotate: 0 0 1 5deg;
  }

  80% {
    rotate: 0 0 1 -5deg;
  }

  to {
    rotate: 0 0 1 0deg;
  }
}

.root {
  animation: swing 4s linear 1s infinite;
  object-fit: contain;
  &:hover {
    animation: bounce 1s linear;
  }
  &[data-position] {
    position: absolute;
    z-index: 1;
    bottom: -42px;
  }
  &[data-position="right"] {
    right: 24px;
  }
  &[data-position="left"] {
    left: 24px;
  }
  &[data-position="center"] {
    left: 24px;
    right: 24px;
    margin: auto;
  }
}
