.container {
  height: 80vh;
}
.container header {
  position: sticky;
  top: 0;
  padding: 16px 24px;
  background-color: #f8b186;
  box-shadow: var(--shadow-level-2);
  display: flex;
  justify-content: space-between;
}
.container header h3 {
  font-weight: normal;
}

.container article {
  padding: 24px 48px;
}

.container article ul li {
  padding: 8px 0px;
}
